.image-one {
    height: 30vh;
    min-width: 23vw;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-left: 10px;
    color: white;

}

.List-items-group {
    width: 100%;
    height: 30%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 1));
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.image-one:hover {
    transform: scale(1.2);

    /* transition-duration: 1s; */
}

.youtub-warpper {
    position: fixed;
    transform: translate(400px, -400px);
}